* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-image: linear-gradient(
    110deg,
    rgb(105, 240, 105),
    rgb(255, 255, 121)
  );
}
h1 {
  margin: 20px 0 10px 0;
}
form input,
form button {
  padding: 0.5rem;  
  border: none;
  margin: -2px;
  font-size: 2rem;
  background-color: white;
  margin-bottom: 15px;
}
form button{
  color:rgb(105, 240, 105);
  background:white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover{
  background:rgb(105, 240, 105);
  color: white;
}
form input,
form button:focus{
  outline: 0;
}
.list-item {
  font-size: 27px;
  color: rgb(0, 0, 0);
  background-image: linear-gradient(
    110deg,
    rgb(255, 255, 121),
    rgb(105, 240, 105)
  );
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin:10px auto;
}
#todo-list{
  width: 100%;
}
.new-todo{
  display: flex;
  width: 89%;
  margin: auto;
}
.item-trash,.edit-item{
  width: 44px;
  height: 40px;
  margin:auto 6px;
  border:none;
  font-size:27px ;
  background-image: linear-gradient(
    108rad,
    rgb(255, 255, 121),
    rgb(105, 240, 105)
  );
}

.item-trash:hover,.edit-item:hover{
  background-image: linear-gradient(
    200rad,
    rgb(255, 255, 121),
    rgb(105, 240, 105)
  );
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  cursor: pointer;

}
.item-trash:focus,.edit-item:focus{
  outline: none;
}
#name{
  font-size: 20px;
  margin-top: 30px;
}
#name a{
  text-decoration: none;
  background-color: rgb(105, 240, 105);
  color:white;
  text-shadow: 1px 1px gray;
}